<!-- """
 * FILENAME: [Lab 8: Security and Cipher Tools]
 * AUTHOR: [Holly Williams]
 * COURSE: [SDEV 300]
 * PROFESSOR: [Justin Boswell]
 * CREATEDATE: [May 9, 2023]

""" -->

<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Description
{% endblock %}

{% block content %}
<html>
<body>

<!-- image -->
<p align="center"><img src="{{url_for('static', filename='header-pug-tongue.png')}}" height="300"></p>

<!-- h2 -->
<h2 align="center">Breed Information</h2>

<!-- h3 -->
<h3>Description</h2>

<!-- paragraph -->
<p>The pug is a breed of dog with physically distinctive features of a wrinkly, short-muzzled face, and curled tail.
    The breed has a fine, glossy coat that comes in a variety of colours, most often light brown (fawn) or black, and a compact, square body with well-developed muscles.</p>

<!-- h3 -->
<h3>Characteristics:</h3>

<!-- ordered list -->
<ol>
 <li>Playful</li>
<li>Affectionate</li>
<li>Lovable</li>
<li>Gassy</li>
<li>Silly</li>
<li>Stubborn</li>
<li>Sociable</li>
<li>Clever</li>
</ol>  

</body>
</html>
{% endblock %}