<!-- """
 * FILENAME: [Lab 8: Security and Cipher Tools]
 * AUTHOR: [Holly Williams]
 * COURSE: [SDEV 300]
 * PROFESSOR: [Justin Boswell]
 * CREATEDATE: [May 9, 2023]

""" -->

<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
History
{% endblock %}

{% block content %}
<html>
<body>

<!-- h2 -->
<h2 align="center">History</h2>

<!-- image -->
<p align="center"><img src="{{url_for('static', filename='pug-art.png')}}" alt="pug-art" width="600" height="600"></p>

<!-- h2 -->
<h2>History</h2>
<p>In ancient times, Pugs were bred to be companions for ruling families in China.
    The pet Pugs were highly valued by Chinese Emperors, and the royal dogs were kept in luxury and guarded by soldiers.    
    Pugs were brought from China to Europe in the sixteenth century and were popularized in Western Europe by the House of Orange of the Netherlands, and the House of Stuart.</p>

<!-- h3 -->    
<h3>Famous pug owners:</h3>

<!-- unordered list -->
<ul>
 <li>The wife of Napoleon Bonaparte, Josephine</li>
 <li>Marie-Antoinette</li>
 <li>Queen Elizabeth II</li> 
 <li>Harriet Beecher Stowe</li>
 <li>William Hogarth</li>
 <li>The Italian designer, Valentino</li>
 <li>Winston Churchill</li>
 <li>Tori Spelling</li>
 <li>Jessica Alba</li>
</ul>  

</body>
</html>
{% endblock %}